body{
    cursor: url('../assets/icons8-select-cursor-35.png'), auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F2235;
}
.main-container-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F3244;
    flex-direction: column;
    height:80vh;
    width:80vw;
    margin-top: 10vh;
    border-radius: 30px;
}
.options-container-div {
    height: 80%;
    width: 100%;
    /* overflow-x:scroll; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.options-div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #60495A;
    height: 95%;
    width: 30%;
    border-radius: 30px;
    margin:1vw;
}
.options-title {
    border: none;
    border-radius: 20px;
    margin-top: 1vh;
    text-align: center;
    height: 3vh;
    width: 40vh;
    font-size: 3.5vh;
}
.options-buttons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 2vh;
    width:100%;
}
.options-list {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    
    width: 100%;
    margin:0px; 
    padding: 0px;
}
.options-list-item {
    /* margin-left:1vw; */
    height: 8vh;
    width: 100%;
}
.list-item-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #DD1155; */
}
.option-button {
    height: 5.5vh;
    width:85%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border:none;
    border-radius: 30px;
    background-color: #A9ACA9;
    transition: 0.5s ;
    font-size: 2.5vh;
    text-align: center;
}
.option-button:hover {
    cursor: url('../assets/icons8-select-cursor-35.png'), auto;
    box-shadow: 8px 8px;
    background-color: #da1154;
}
.desc-btn-container-div {
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 80vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #60495A;
    border-radius: 30px;
}
.action-discription-div {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-discription {

    margin:1.3vh;
    width:100%;
    height: 90%;
    text-align: center;
    background-color: #A9ACA9;
    border-radius: 30px;
    font-size: 3vh;
}
.go-btn {
    background-color: #A9ACA9;
    width:30vw;
    font-size: 5vh;
    border:none;
    border-radius: 30px;
    margin:1.3vh;
    flex-grow: 1;
    transition:0.5s;
}
.go-btn:hover {
    cursor: url('../assets/icons8-select-cursor-35.png'), auto;
    box-shadow: 8px 8px;
    background-color: #DD1155;
}
@media (max-width:1000px) {
    .main-container-div {
        height: 100%;
    }
    .options-container-div {
        height: 100%;
        flex-direction: column;
        overflow: scroll;
    }
    .options-div {
        width:95%;
        margin-bottom: 2vh;
    }
    .desc-btn-container-div {
        flex-direction: column;
        height:40vh;
        /* width:95%; */
        justify-content: center;
        align-items: center;
    }
    .action-discription-div {
        height:90%;
        width: 99%;
        word-wrap: break-word;
        text-align: center;
    }
    .action-discription {
        height: 90%;
        width: 90%;
        text-align: center;
    }
    .go-btn {
        height: 20vh;
        width:95%;
        font-size: 15vw;
    }
}