body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F2235;
}
.main-container-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F3244;;
    flex-direction: column;
    width:85%;
    height:800px;
    margin-top: 100px;
    border-radius: 30px;
}
.options-container-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:100%;
    height: 80%;
    margin-top: 20px;
}
.timeframe-options-div {
    margin-right: 20px;
}
/* .platforms-options-div {
    background-color: #A9ACA9;
    margin:10px;
    width: 30%;
    height: 100%;
    border-radius: 30px;
} */
.preset-options-div {
    margin-right: 20px;
}
.options-div {
    flex-grow: 1;
    background-color: #60495A;
    margin:20px;
    width: 30%;
    height: 100%;
    border-radius: 30px;
}

.options-title {
    border: none;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    height: 5%;
    width: 90%;
    font-size: 22px;
    /* background-color: #6b5665; */
}
.options-buttons-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    height: 95%;
    width:90%;
}
.options-list {
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;
}
.options-list-item {
    width: 100%;
    height: 10%;
}
.option-button {
    width:100%;
    height: 80%;
    margin: 5px;
    border:none;
    border-radius: 30px;
    background-color: #A9ACA9;
}
.desc-btn-container-div {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #60495A;
    border-radius: 30px;
}
.action-discription {
    margin:20px;
    width: 70%;
    border-radius: 30px;
    background-color: #A9ACA9;
}
.go-btn {
    background-color: #A9ACA9;
    width:30%;
    border-width: 0px;
    border-radius: 30px;
    margin:20px;
    flex-grow: 1;
}
