:root {
    --primary-bg:#002b35;
    --secondary-bg:#003f46;
    --options-panel-bg:#004952;
    /* --options-panel-bg:#004e57; */
    --options-button-color:#007785;
    --contest-details-bg:#F8FFE5;
    --contest-buttons-bg:#F8FFE5;
    --primary-heading-color:#F8FFE5;
    --hover-button-color:#ff1a66;
}


::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
  
body{
    cursor: url('../assets/icons8-select-cursor-35.png'), auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-bg);
}
.main-container-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--secondary-bg);
    flex-direction: column;
    height:80vh;
    width:80vw;
    margin-top: 10vh;
    border-radius: 30px;
}

.content-container-div {
    margin-left: 6vw;
    width: 90%;
}
.title-div {
    display: flex;
    width: 100%;
    margin-top: 10vw;
    flex-direction: row;
    align-items: center;
}
.title-text {
    margin:0;
    width: 70%;
    
    font-size: 10vw;
    font-family: "Audiowide", sans-serif;
    color: var(--primary-heading-color);
}

.next-page-btn-div {
    display: flex;
    height: 100%;
    width:40%;
    justify-content: center;
    align-items: center;
    
}
.calset-page-button {
    cursor: url('../assets/icons8-select-cursor-35.png'), auto;
    border:none;
    height: 8vh;
    width: 15vw;
    border-radius: 20px;
    font-family: "Ubuntu Mono", monospace;
    background-color: var(--options-button-color);
    color: #3F3244;
    font-size:1.5vw;
    transition: 0.5s;
}
.calset-page-button:hover {
    cursor: url('../assets/icons8-select-cursor-35.png'), auto;
    box-shadow: 8px 8px;
    background-color: var(--hover-button-color);
    color: black;
}
.secondary-text{
    margin:0;
    margin-top: 1.5vh;
    font-family: "Ubuntu Mono", monospace;
    font-size: 2vw;
    color: var(--contest-details-bg);
}
/* .description-text {
    margin:0;
    font-family: "Ubuntu", sans-serif;
    margin-top: 1.5vh;
    font-size: 1vw;
    color: #BFC3BA;
} */

.secondary-container-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--secondary-bg);
    flex-direction: column;
    height:100%;
    width:80vw;
    margin-top: 10vh;
    border-radius: 30px;
}

.secondary-container-subdiv {
    margin-left:5vw;
    width:90%;
}

.title-textt {
    font-size: 4vw;
    color: #BFC3BA;
    font-family: "Ubuntu Mono", monospace;
}

.description-textt {
    font-size: 1.5vw;
    color: #BFC3BA;
    font-family: "Ubuntu Mono", monospace;
}

.technologies-used-title {
    font-size: 2vw;
    color: #BFC3BA;
    font-family: "Ubuntu Mono", monospace;
}

.technologies-used-list {
    font-size: 1.5vw;
    color: #BFC3BA;
    font-family: "Ubuntu Mono", monospace;
}

.contact-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me-title {
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.5vw;
    color: #BFC3BA;
}
.contact {
    margin-left:2vw;
    margin-right: 2vw;

}
/* TODO:smaller icons downlaod and setup \
 * Gmail contact bug.
*/

/* .contact-img {
    height: 10vh;
    width: 10vw;
} */

@media (max-width:1000px){

    .main-container-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .content-container-div {
        margin:0;
    }
    .title-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
    } 
    .title-text {
        width:100%;
        text-align: center;
        font-size: 18.5vw;
    }
    .next-page-btn-div {
        width:90%;
        margin-top:3vh;
    }
    .calset-page-button {
        width: 90%;
        font-size: 5vw;
    }
    .desc-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .secondary-text {
        margin-top: 3vh;
        font-size: 10vw;
    }
    .description-title {
        font-size: 10vw;
    }
    .description-text {
        font-size: 4vw;
    }
    .working-title-text {
        font-size: 10vw;
    }
    .general-working-text {
        font-size: 4vw;
    }
    .tools-used-title {
        font-size: 10vw;
        margin-bottom: 0;
    }
    .tools-used-list {
        font-size: 4vw;
        
    }
    .apis-used-title {
        font-size: 10vw;
        margin-bottom: 0;
    }
    .apis-used-list {
        font-size: 4vw;
    }
    .contact-me-title {
        
    }
}
