:root {
    --primary-bg:#002b35;
    --secondary-bg:#003f46;
    --options-panel-bg:#004952;
    /* --options-panel-bg:#004e57; */
    --options-button-color:#007785;
    --contest-details-bg:#F8FFE5;
    --contest-buttons-bg:#F8FFE5;
    --primary-heading-color:#F8FFE5;
    --hover-button-color:#ff1a66;
}


body {
    cursor: url('../assets/icons8-select-cursor-35.png'), auto;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg);
    padding:0;
    margin:0;
}
.main-bg{
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 80%;
    margin-top: 10%;
    background: var(--secondary-bg);
    border-radius: 30px;
    transition: 0.5s;
}
.main-bg:hover {
    box-shadow: 30px 30px;
    transition: 0.5s;
}
.secondary-login-text {
    transition: 0.5s;
    color: #3F3244;
    opacity: 0;
}
.main-bg:hover .secondary-login-text {
    color:#DD1155;
    opacity: 100;
}
.main-bg:hover .login-options {
    opacity:100;
}
.login-text {
    display: flex;
    flex-direction: column;
    height:65vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: left;
    
}
.login-div-text {
    margin-left:5vw;
    font-size: 10vh;
    color: #BFC3BA;
}

.login-options {
    display: flex;
    opacity:0;
    transition: opacity 0.5s;
    width:50%;
    height:65vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-option {
    width:60%;
    height:10%;
    transition: 0.5s;
    border-width: 0px;
    border-radius: 20px;
    margin:2vh;
    background-color: #A9ACA9;
    color:#3F3244;
}
.login-option:hover {
    transform: scale(1.01);
    box-shadow: 15px 15px #2F2235;
    background-color: #DD1155;
}

.login-option-text {
    color:#2F2235;
    font-weight: 800;
    font-size:2.3vh;
}
.google-login {
    cursor:url("../assets/icons8-google-50.png") 15 15, auto;
}
.github-login {
    cursor:url("../assets/icons8-github-50.png") 15 15, auto; ;
}
.facebook-login {
    cursor:url("../assets/icons8-facebook-50.png") 15 15, auto; ;
}
.twitter-login {
    cursor:url("../assets/icons8-twitter-50.png") 15 15, auto; ;
}
@media (max-width:800px) {
    .main-bg {
        /* background-color: #DD1155; */
        flex-direction: column;
        height: 90vh;
    }
    .login-div-text {
        font-size: 15vw;
        opacity: 100;
    }
    .secondary-login-text {
        font-size: 15vw;
        opacity: 100;
        color:#DD1155;
    }
    .login-options {
        height: 40vh;
        width:100%;
        opacity: 100;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }
    .login-option {
        height: 25%;
        width: 95%;
        margin: 3vw;
    }
    
}